<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

{{# partial "titulo" }}
    <title>GESOC - Error</title>
{{/partial}}

{{# partial "contenido" }}
    <!--TODO: Pasarle el código de error para dar un poco más de detalle-->
        <section class="fondo-gris">
            <h2>Algo salió mal</h2>
            <p>Hubo un problema procesando tu solicitud.</p>
            <p>Por favor, haz click <a href="/">aquí</a> para volver a la página principal.</p><br>
        </section>
{{/partial}}

{{> layout.html.hbs }}