<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

{{#partial "titulo" }}
    <title>GeSoc</title>
{{/partial}}

{{#partial "header" }}
    <h1 style="text-align: center">GESOCito</h1>
    <h2 style="text-align: center; font-family: Bahnschrift; font-size: large">GESTIÓN SOCIAL Y COOPERACIÓN</h2>
{{/partial}}

{{#partial "contenido" }}

    <div>
        <img class="Imagen-Centrada" src="background.png" alt="F">
    </div>

    {{#if usuarioLogeado }}
     <div style="text-align: center">
         <a href="/organizaciones" class="greenStyle"><i class="fas fa-sitemap"></i> <span>Organizaciones</span></a><br><br>
<!--         <a href="/inbox" class="greenStyle"><i class="fas fa-envelope"></i> <span>Bandeja de mensajes</span></a><br><br>-->
     </div>
    {{/if}}

{{/partial}}

{{> layout.html.hbs }}