{{# partial "titulo" }}
    <title xmlns="http://www.w3.org/1999/html">Gesoc - Login</title>
{{/partial}}


{{# partial "contenido" }}

    <section class="fondo-gris">
        <h2>Nueva operación de egreso</h2>
        <form action="/organizaciones/{{organizacion}}/entidades/{{entidad}}/operaciones" method="POST">
            <div class="campo">
                <span class="nombre-campo">Fecha: </span>
                <input type="date" name="nombreFicticio" placeholder="Ingrese fecha">
            </div>
        </form>
    </section>

{{/partial}}

{{> layout.html.hbs }}