{{# partial "titulo" }}
    <title>GESOC - Entidad</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        {{#entidadBase}}
            <h2>EntidadBase:{{nombreFicticio}}</h2>
        {{/entidadBase}}
        {{#entidadJuridica}}
            <h2>EntidadJuridica:{{nombreFicticio}}</h2>
        {{/entidadJuridica}}
    </section>
{{/partial}}

{{> layout.html.hbs }}