{{# partial "titulo" }}
    <title>Consultorea.me - Nueva entidad</title>
{{/partial}}

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<script src="/entidades.js"></script>
{{# partial "contenido" }}

    <section class="fondo-gris">
        <h2>Nueva entidad</h2>
        <form action="/organizaciones/{{organizacion}}/entidades" method="POST">
            <div class="campo">
                <span class="nombre-campo">Nombre ficticio: </span>
                <input type="text" name="nombre" placeholder="Ingrese un Nombre">
            </div>
            <input type="radio" name="tab" value="igotnone" onclick="show1();" />
            Juridica
            <input type="radio" name="tab" value="igottwo" onclick="show2();" />
            Base
            <div class="campo">
                <div class="hide" id="div1" class="info-juridica">
                    <input type="text" name="razon-social-juridica" placeholder="Ingrese Razon Social">
                    <input type="number" name="cuit-juridica" placeholder="Ingrese Cuit">
                    <input type="number" name="codigo-igj-juridica" placeholder="Ingrese Codigo de Inscripcion IGJ">
                    <div>
                        <span class="nombre-campo">Categoria Entidad Juridica: </span>
                        <select name="categoria-entidad-juridica">
                            {{#categoriasEntidadJuridicaDisponibles}}
                                <option>{{DisplayName}}</option>
                            {{/categoriasEntidadJuridicaDisponibles}}
                        </select>
                    </div>
                </div>

                <div class="hide" id="div2" class="info-base">
                    <input type="text" name="descripcion-base" placeholder="Ingrese Descripcion">
                    <!--Aca falta la parte de asociarla a una entidad juridica-->
                </div>
            </div>

            <div class="campo">
                <span class="nombre-campo">Categoria: </span>
                <select name="categoria">
                    {{#categoriasDisponibles}}
                         <option value={{id}}>{{descripcion}}</option>
                     {{/categoriasDisponibles}}
                </select>
            </div>



            <input type="submit" value="Crear entidad">
        </form>
    </section>
{{/partial}}

{{> layout.html.hbs }}