<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

{{#partial "titulo" }}
    <title>GeSoc - Home</title>
{{/partial}}

{{#partial "header" }}
    <h1 style="text-align: center">GeSoc - Home</h1>
{{/partial}}

{{#partial "contenido" }}

    <div>
        <img class="Imagen-Centrada" src="background.png" alt="F">
    </div>

    {{#if usuarioLogeado }}
     <div style="text-align: center">
         <a href="/organizaciones" class="greenStyle"><i class="fas fa-sitemap"></i> <span>Organizaciones</span></a><br>
         <a href="/inbox" class="greenStyle"><i class="fas fa-envelope"></i> <span>Bandeja de mensajes</span></a><br><br>
         <form action="/cerrarSesion" method="POST">
            <input class="redStyle" type="submit" value="Cerrar sesion" />
         </form>
     </div>
    {{else}}
        <div style="text-align: center">
            <a class="redStyle" href="/login">Inciar sesión</a>
        </div>

    {{/if}}

{{/partial}}

{{> layout.html.hbs }}