<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

{{#partial "titulo" }}
    <title>GeSoc - Home</title>
{{/partial}}

{{#partial "header" }}
    <h1>GeSoc - Home</h1>
{{/partial}}

{{#partial "contenido" }}

    <div class = "Imagen-Centrada">
        <img src="descarga.jpg" alt="F">
    </div>

    {{#if usuarioLogeado }}
     <div>
         <a href="/organizaciones" class="greenStyle"><i class="fas fa-sitemap"></i> Organizaciones</a><br>
         <a href="/inbox" class="greenStyle"><i class="fas fa-envelope"></i> Bandeja de mensajes</a><br><br>
         <form action="/cerrarSesion" method="POST">
            <input class="redStyle" type="submit" value="Cerrar sesion" />
         </form>
     </div>
    {{else}}
        <a class="redStyle" href="/login">Inciar sesión</a>
    {{/if}}

{{/partial}}

{{> layout.html.hbs }}