{{# partial "titulo" }}
    <title>Gesoc - Home</title>
{{/partial}}

{{# partial "contenido" }}

<section class = "Imagen-Centrada">
    <img src="https://i.imgur.com/1q62Ct6.jpg" alt="F">
</section>

{{/partial}}

{{> layout.html.hbs }}