{{# partial "titulo" }}
    <title>Gesoc - Home</title>
{{/partial}}

{{# partial "contenido" }}

<div class = "Imagen-Centrada">
    <img src="descarga.jpg" alt="F">
</div>

{{/partial}}

{{> layout.html.hbs }}