<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    {{#block "titulo"}}
    {{/block}}
</head>

<body>
    <nav style="padding: 20px;
    background: aliceblue;
    font-size:20px;
    border-bottom-color: black;
    border-bottom-style: groove;">
        <a class="links_navegacion" href="/">Home</a>
    </nav>



	<main>
        {{#block "header"}}
        {{/block}}

        {{#block "contenido" }}
        {{/block}}
	</main>

	<footer>
        UTN FRBA - Diseño de sistemas
	</footer>

</body>

</html>
