<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    {{#block "titulo" }}
    {{/block}}
</head>

<body>
    <nav>
        <a href="/">Home</a>
    </nav>
	<main>
		<h1>Gesoc</h1>
            {{# block "contenido" }}
            {{/block}}
	</main>
	<footer>
        Copyright 2020 Gesoc
	</footer>
</body>

</html>
