<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {{#block "titulo"}}
    {{/block}}
</head>

<body>
    <nav style="padding: 20px;
    /*background: aliceblue;*/
    background: #B69C7B;
    font-size:20px;
    border-bottom-color: black;
    border-bottom-style: groove;
    margin-bottom: 1%">
        <a class="links_navegacion" href="/"><i class="fas fa-home"></i> Home</a>
        <span >
            {{#usuarioLogeado}}
                <span style="margin-left: 78%; font-family: Bahnschrift;">{{username}}</span>
                <a class="links_navegacion" style="margin-left: 10px" href="/cerrarSesion"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            {{else}}
                <a class="links_navegacion" style="margin-left: 82%" href="/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
            {{/usuarioLogeado}}
        </span>


    </nav>

    <span style="padding-left: 8%">
        {{#block "nav"}}
        {{/block}}
    </span>
	<main>

        {{#block "header"}}
        {{/block}}

        {{#block "contenido" }}
        {{/block}}
	</main>

	<footer style="text-align: center">
        UTN FRBA - Diseño de sistemas
	</footer>

</body>

</html>
