<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {{#block "titulo"}}
    {{/block}}
</head>

<body>
    <nav style="padding: 20px;
    /*background: aliceblue;*/
    background: #B69C7B;
    font-size:20px;
    border-bottom-color: black;
    border-bottom-style: groove;">
        <a class="links_navegacion" href="/"><i class="fas fa-home"></i> Home</a>
    </nav>

	<main>
        {{#block "header"}}
        {{/block}}

        {{#block "contenido" }}
        {{/block}}
	</main>

	<footer style="text-align: center">
        UTN FRBA - Diseño de sistemas
	</footer>

</body>

</html>
