{{# partial "titulo" }}
    <title>GeSoc - Login</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Inicio de sesi칩n</h2>

        <form action="/login" method="POST">
            <div class="campo">
                <span class="nombre-campo">Nombre de usuario:</span><br>
                <input type="text" name="username" placeholder="Ingrese nombre de usuario">
            </div>
            <div class="campo">
                <span class="nombre-campo">Contrase침a:</span><br>
                <input type="password" name="password" placeholder="Ingrese contrase침a">
            </div><br>
            <input type="submit" value="Ingresar" class="redStyle">
        </form>

        {{#if loginFailed}}
            <div>
                <p style="color:#c30303"> Usuario o contrase침a incorrecta  </p>
            </div>
        {{/if}}

    </section>

{{/partial}}

{{> layout.html.hbs }}