{{# partial "titulo" }}
    <title>GeSoc - Login</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Iniciar Sesión</h2>

        <form action="/login" method="POST">
            <div class="campo">
                <span class="nombre-campo">Nombre de usuario:</span><input type="text" name="username" placeholder="Ingrese nombre de usuario">
            </div>
            <div class="campo">
                <span class="nombre-campo">Contraseña:</span><input type="password" name="password" placeholder="Ingrese contraseña">
            </div>
            <input type="submit" value="Iniciar Sesión">
        </form>

        {{#if loginFailed}}
            <div>
                <p style="color:#ff0000"> Usuario o contraseña incorrecta  </p>
            </div>
        {{/if}}

    </section>

{{/partial}}

{{> layout.html.hbs }}