<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

{{# partial "titulo" }}
    <title>GESOC - Operaciones</title>
{{/partial}}


{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Operaciones:</h2>

        <form action="/operaciones" method="GET">
            Buscar por ID
            <input type="text" name="filtro" placeholder="Ingrese el ID de la operacion a buscar">
            <input type="submit" value="Buscar">
        </form>

        <ul class="listas">
            {{#operaciones}}
                <li>
                    <i class="fas fa-hand-point-right"></i>
                    <a href="operaciones/{{id}}">{{id}}</a>
                </li>
            {{/operaciones}}
        </ul>

    </section>
{{/partial}}

{{> layout.html.hbs }}