{{# partial "titulo" }}
    <title>GESOC - Operaciones</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Operaciones:</h2>

        <form action="/operaciones" method="GET">
            Buscar por ID
            <input type="text" name="filtro" placeholder="Ingrese el ID de la operacion a buscar">
            <input type="submit" value="Buscar">
        </form>

        <ul>
            {{#operaciones}}
                <li><a href="operaciones/{{id}}">{{id}}</a></li>
            {{/operaciones}}
        </ul>

    </section>
{{/partial}}

{{> layout.html.hbs }}